---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '40'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '994.15921296296'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"10kxE34bJPaUO4","slug":"pizza-space-cowboy-10kxE34bJPaUO4","url":"https:\/\/giphy.com\/gifs\/pizza-space-cowboy-10kxE34bJPaUO4","bitly_gif_url":"https:\/\/gph.is\/22XRy3m","bitly_url":"https:\/\/gph.is\/22XRy3m","embed_url":"https:\/\/giphy.com\/embed\/10kxE34bJPaUO4","username":"","source":"https:\/\/gifs.tastefullyoffensive.com\/post\/56517077128","rating":"g","content_url":"","source_tld":"gifs.tastefullyoffensive.com","source_post_url":"https:\/\/gifs.tastefullyoffensive.com\/post\/56517077128","is_sticker":0,"import_datetime":"2016-06-10
        12:17:25","trending_datetime":"2017-07-19 17:31:27","images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200_s.gif","width":"198","height":"200"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy_s.gif","width":"500","height":"504"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200w.gif","width":"200","height":"202","size":"155663","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200w.mp4","mp4_size":"28379","webp":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200w.webp","webp_size":"174538"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100_s.gif","width":"99","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200_d.gif","width":"198","height":"200","size":"62564","webp":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200_d.webp","webp_size":"59638"},"preview":{"width":"250","height":"252","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy-preview.mp4","mp4_size":"40615"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100.gif","width":"99","height":"100","size":"45881","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100.mp4","mp4_size":"10003","webp":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100.webp","webp_size":"58766"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy-downsized_s.gif","width":"500","height":"504","size":"127760"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy-downsized.gif","width":"500","height":"504","size":"920328"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy.gif","width":"500","height":"504","size":"920328"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100w_s.gif","width":"100","height":"101"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy-preview.webp","width":"132","height":"133","size":"49820"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200w_s.gif","width":"200","height":"202"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100w.gif","width":"100","height":"101","size":"46874","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100w.mp4","mp4_size":"10003","webp":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/100w.webp","webp_size":"60872"},"downsized_small":{"width":"500","height":"504","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy-downsized-small.mp4","mp4_size":"199894"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200w_d.gif","width":"200","height":"202","size":"64068","webp":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200w_d.webp","webp_size":"61988"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy.gif","width":"500","height":"504","size":"920328"},"original":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy.gif","width":"500","height":"504","size":"920328","frames":"18","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy.mp4","mp4_size":"123519","webp":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy.webp","webp_size":"889420"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200.gif","width":"198","height":"200","size":"151873","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200.mp4","mp4_size":"28379","webp":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/200.webp","webp_size":"166532"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy-loop.mp4","mp4_size":"2042850"},"original_mp4":{"width":"480","height":"482","mp4":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy.mp4","mp4_size":"123519"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/10kxE34bJPaUO4\/giphy-preview.gif","width":"135","height":"136","size":"49043"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/10kxE34bJPaUO4\/480w_s.jpg","width":"480","height":"484"}},"title":"tobias
        funke space GIF","_score":2500072.5,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c3546ef4750486c6b2d52e0&event_type=GIF_SEARCH&gif_id=10kxE34bJPaUO4&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c3546ef4750486c6b2d52e0&event_type=GIF_SEARCH&gif_id=10kxE34bJPaUO4&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c3546ef4750486c6b2d52e0&event_type=GIF_SEARCH&gif_id=10kxE34bJPaUO4&action_type=SENT"}}},{"type":"gif","id":"mZWAgG8U4sXzW","slug":"cat-food-pizza-mZWAgG8U4sXzW","url":"https:\/\/giphy.com\/gifs\/cat-food-pizza-mZWAgG8U4sXzW","bitly_gif_url":"https:\/\/gph.is\/1sEs1jc","bitly_url":"https:\/\/gph.is\/1sEs1jc","embed_url":"https:\/\/giphy.com\/embed\/mZWAgG8U4sXzW","username":"","source":"https:\/\/crucialpizza.com\/post\/5[...]
