---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Clear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"13HKfgAmdbYZCE","slug":"ocean-adventure-dive-13HKfgAmdbYZCE","url":"https:\/\/giphy.com\/gifs\/ocean-adventure-dive-13HKfgAmdbYZCE","bitly_gif_url":"https:\/\/gph.is\/1a3LdqE","bitly_url":"https:\/\/gph.is\/1a3LdqE","embed_url":"https:\/\/giphy.com\/embed\/13HKfgAmdbYZCE","username":"","source":"https:\/\/cheekycute007.tumblr.com\/post\/60564252132","rating":"g","content_url":"","source_tld":"cheekycute007.tumblr.com","source_post_url":"https:\/\/cheekycute007.tumblr.com\/post\/60564252132","is_sticker":0,"import_datetime":"2013-12-23
        16:04:05","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200_s.gif","width":"380","height":"200"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy_s.gif","width":"500","height":"263"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200w.gif","width":"200","height":"105","size":"153120","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200w.mp4","mp4_size":"26245","webp":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200w.webp","webp_size":"61126"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100_s.gif","width":"190","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200_d.gif","width":"380","height":"200","size":"225750","webp":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200_d.webp","webp_size":"66198"},"preview":{"width":"256","height":"134","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy-preview.mp4","mp4_size":"45560"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100.gif","width":"190","height":"100","size":"144956","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100.mp4","mp4_size":"23170","webp":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100.webp","webp_size":"57372"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy-downsized_s.gif","width":"500","height":"263","size":"63772"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy-downsized.gif","width":"500","height":"263","size":"965619"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy.gif","width":"500","height":"263","size":"965619"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100w_s.gif","width":"100","height":"53"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy-preview.webp","width":"316","height":"166","size":"48644"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200w_s.gif","width":"200","height":"105"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100w.gif","width":"100","height":"53","size":"47849","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100w.mp4","mp4_size":"10685","webp":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/100w.webp","webp_size":"22758"},"downsized_small":{"width":"500","height":"262","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy-downsized-small.mp4","mp4_size":"137737"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200w_d.gif","width":"200","height":"105","size":"61071","webp":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200w_d.webp","webp_size":"24014"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy.gif","width":"500","height":"263","size":"965619"},"original":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy.gif","width":"500","height":"263","size":"965619","frames":"17","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy.mp4","mp4_size":"99448","webp":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy.webp","webp_size":"283412"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200.gif","width":"380","height":"200","size":"549030","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200.mp4","mp4_size":"63820","webp":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/200.webp","webp_size":"166918"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy-loop.mp4","mp4_size":"715140"},"original_mp4":{"width":"480","height":"252","mp4":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy.mp4","mp4_size":"99448"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/13HKfgAmdbYZCE\/giphy-preview.gif","width":"179","height":"94","size":"49543"},"480w_still":{"url":"https:\/\/media0.giphy.com\/media\/13HKfgAmdbYZCE\/480w_s.jpg","width":"480","height":"252"}},"title":"clear
        ocean GIF","_score":2500011,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c34ce7d594a633155cbc2c4&event_type=GIF_SEARCH&gif_id=13HKfgAmdbYZCE&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c34ce7d594a633155cbc2c4&event_type=GIF_SEARCH&gif_id=13HKfgAmdbYZCE&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c34ce7d594a633155cbc2c4&event_type=GIF_SEARCH&gif_id=13HKfgAmdbYZCE&action_type=SENT"}}},{"type":"gif","id":"3orifgxI1xzGrQOjGU","slug":"movie-the-rock-michael-bay-3orifgxI1xzGrQOjGU","url":"https:\/\/giphy.com\/gifs\/movie-the-rock-michael-bay-3orifgxI1xzGrQOjGU","bitly_gif_url":"https:\/\/gph.is\/1PByRQQ","bitly_url":"https:\/\/gph.is\/1PByRQQ","embed_url":"https:\/\/giphy.com\/embed\/3orifgxI1xzGrQOjGU","username":"","[...]
